
      <style>
      .grid-item {
        background-color:<?= $color ?>;
      }
      </style>

      <div class="grid-item"><?= $name ?></div>
      


                          <div>
                        <div class="pokemon-info-item stats"><h4>Statistiques</h4></div>

                        <div class="pokemon-info-item"><h5>PV <?= $dPokemon->getHp() ?></h5></div>
                        <div class="pokemon-info-item"><h5>Attaque <?= $dPokemon->getAttack() ?></h5></div>
                        <div class="pokemon-info-item"><h5>Défense <?= $dPokemon->getDefense() ?></h5></div>
                        <div class="pokemon-info-item"><h5>Attaque Spé. <?= $dPokemon->getSpe_attack() ?></h5></div>
                        <div class="pokemon-info-item"><h5>Défense Spé. <?= $dPokemon->getSpe_defense() ?></h5></div>
                        <div class="pokemon-info-item"><h5>Vitesse <?= $dPokemon->getSpeed() ?></h5></div>
                    </div>


// la diff entre <?php et <?= c'est le echo
// ci dessous, les deux lignes font la même chose 

<h2>La color <?php echo $typeColor01 ?></h2>
<h2>La color <?= $typeColor02 ?></h2>